## Importing Libraries

In [212]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading the dataset

In [213]:
df = pd.read_csv('C:\\Users\\lenovo\\Desktop\\Data Science_Internship\\R.Sri Ramyutha_Productionizing_Model_Task\\Banking_Project\\data\\credit_risk_dataset.csv')

df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

## Understanding the data

In [214]:
df.columns # Gives all the column names present in the dataset

Index(['person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_status', 'loan_percent_income',
       'cb_person_default_on_file', 'cb_person_cred_hist_length'],
      dtype='object')

In [215]:
df.shape # Gives total number of rows and columns in the dataset

(32581, 12)

In [216]:
df.info() # Gives the datatype and total non-null count of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

In [217]:
df.isnull().sum()# Gives total number of null values in each column

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

## Missing Values Imputation

In [218]:
round(df['person_emp_length'].median())

4

In [219]:
df['person_emp_length'] = round(df['person_emp_length'].fillna(df['person_emp_length'].median()))

In [220]:
df['loan_int_rate'].median()

10.99

In [221]:
df['loan_int_rate'] = df['loan_int_rate'].fillna(df['loan_int_rate'].median())

In [222]:
df.isnull().sum()

person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

## Rearranging the target variable at end of the dataframe

In [223]:
df.columns

Index(['person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_status', 'loan_percent_income',
       'cb_person_default_on_file', 'cb_person_cred_hist_length'],
      dtype='object')

In [224]:
df = df[['person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate','loan_percent_income',
       'cb_person_default_on_file', 'cb_person_cred_hist_length','loan_status']]

df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,0.59,Y,3,1
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0.10,N,2,0
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,0.57,N,3,1
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,0.53,N,2,1
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,0.55,Y,4,1

## Data Preprocessing

In [225]:
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (0.24.2)
Collecting scikit-learn
  Using cached scikit_learn-1.2.2-cp39-cp39-win_amd64.whl (8.4 MB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.7.1)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.20.3)
Collecting joblib>=1.1.1
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Installing collected packages: joblib, scikit-learn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:

WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -blib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -8ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -7ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -6ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -5ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -4ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -3ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -2ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -1ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -0ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -blib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -blib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -8ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -7ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -6ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -5ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -4ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -3ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -2ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -1ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -0ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -blib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -blib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -8ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -7ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -6ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -5ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -4ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -3ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -2ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -1ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -0ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -blib (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -blib (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -8ikit-learn (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -7ikit-learn (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -6ikit-learn (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -5ikit-learn (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -4ikit-learn (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -3ikit-learn (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -2ikit-learn (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -1ikit-learn (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -0ikit-learn (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -blib (c:\programdata\anaconda3\lib\site-packages)
ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\joblib-1.1.0.dist-info\\direct_url.json'
Consider using the `--user` option or check the permissions.

WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -blib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -8ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -7ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -6ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -5ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -4ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -3ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -2ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -1ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -0ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -blib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -blib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -8ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -7ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -6ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -5ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -4ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -3ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -2ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -1ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -0ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -blib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -blib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -8ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -7ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -6ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -5ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -4ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -3ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -2ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -1ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -0ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -blib (c:\programdata\anaconda3\lib\site-packages)

In [226]:
import sklearn

print(sklearn.__version__)

0.24.2

## Identifying input and output variables

In [227]:

y = df['loan_status']

X = df[['person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate','loan_percent_income',
       'cb_person_default_on_file', 'cb_person_cred_hist_length']]

## spliting data into train set and test set

In [228]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=100)

In [229]:
X_train.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
18046,31,190000,OWN,8.0,EDUCATION,A,15000,6.03,0.08,N,8
9275,24,54500,MORTGAGE,7.0,MEDICAL,D,8000,17.49,0.15,N,4
5210,23,38400,MORTGAGE,2.0,DEBTCONSOLIDATION,D,15000,17.27,0.39,N,3
9775,22,64000,MORTGAGE,5.0,MEDICAL,A,2000,9.32,0.03,N,4
27803,28,225000,MORTGAGE,12.0,DEBTCONSOLIDATION,B,6000,11.12,0.03,N,7

In [230]:
X_test.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
10775,25,40000,RENT,0.0,EDUCATION,B,10000,12.18,0.25,N,3
28127,30,125000,MORTGAGE,14.0,VENTURE,A,5750,7.43,0.05,N,10
17835,29,70500,RENT,5.0,PERSONAL,A,35000,8.90,0.50,N,6
15419,26,135000,MORTGAGE,11.0,EDUCATION,A,6700,6.03,0.05,N,4
20158,30,34000,RENT,0.0,VENTURE,B,4000,10.95,0.12,N,10

In [231]:
y_train.head()

18046    0
9275     1
5210     1
9775     0
27803    0
Name: loan_status, dtype: int64

In [232]:
y_test.head()

10775    0
28127    0
17835    1
15419    0
20158    0
Name: loan_status, dtype: int64

In [233]:
print(X_train.shape, y_train.shape) 

print(X_test.shape, y_test.shape)

(22806, 11) (22806,)
(9775, 11) (9775,)

## Seperating  Categorical Columns

In [234]:
X_train_cat = X_train.select_dtypes(include=['object'])

X_train_cat.head()

,person_home_ownership,loan_intent,loan_grade,cb_person_default_on_file
18046,OWN,EDUCATION,A,N
9275,MORTGAGE,MEDICAL,D,N
5210,MORTGAGE,DEBTCONSOLIDATION,D,N
9775,MORTGAGE,MEDICAL,A,N
27803,MORTGAGE,DEBTCONSOLIDATION,B,N

## Seperating Numeric Column

In [235]:
X_train_num = X_train.select_dtypes(include=['int64', 'float64'])

X_train_num.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
18046,31,190000,8.0,15000,6.03,0.08,8
9275,24,54500,7.0,8000,17.49,0.15,4
5210,23,38400,2.0,15000,17.27,0.39,3
9775,22,64000,5.0,2000,9.32,0.03,4
27803,28,225000,12.0,6000,11.12,0.03,7

## Scaling Numeric Column using StandardScaler

In [236]:
# scaling the numerical features
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# column names are (annoyingly) lost after Scaling
# (i.e. the dataframe is converted to a numpy ndarray)

X_train_num_rescaled = pd.DataFrame(scaler.fit_transform(X_train_num), 
                                    columns = X_train_num.columns, 
                                    index = X_train_num.index)

X_train_num_rescaled.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
18046,0.521395,1.921063,0.796203,0.861154,-1.611901,-0.837814,0.539704
9275,-0.594706,-0.182430,0.549870,-0.248297,2.095493,-0.183176,-0.445764
5210,-0.754149,-0.432366,-0.681796,0.861154,2.024321,2.061294,-0.692131
9775,-0.913592,-0.034953,0.057203,-1.199255,-0.547562,-1.305412,-0.445764
27803,0.043066,2.464401,1.781536,-0.565283,0.034751,-1.305412,0.293337

## Label Encoding on categorical features

In [237]:
X_train_cat_le = pd.DataFrame(index=X_train_cat.index)

X_train_cat_le.head()

Empty DataFrame
Columns: []
Index: [18046, 9275, 5210, 9775, 27803]

In [238]:
X_train_cat.person_home_ownership.unique()

array(['OWN', 'MORTGAGE', 'RENT', 'OTHER'], dtype=object)

In [239]:
person_home_ownership_encoder = {'OWN' : 1, 'MORTGAGE' : 2, 'RENT' : 3, 'OTHER' : 4}

X_train_cat_le['person_home_ownership'] = X_train_cat['person_home_ownership'].apply(lambda x : person_home_ownership_encoder[x])

X_train_cat_le.head()

       person_home_ownership
18046                      1
9275                       2
5210                       2
9775                       2
27803                      2

In [240]:
X_train_cat.loan_intent.unique()

array(['EDUCATION', 'MEDICAL', 'DEBTCONSOLIDATION', 'PERSONAL',
       'HOMEIMPROVEMENT', 'VENTURE'], dtype=object)

In [241]:
loan_intent_encoder = {'VENTURE' : 1, 'DEBTCONSOLIDATION' : 2, 'HOMEIMPROVEMENT' : 3, 'PERSONAL' : 4,'EDUCATION' : 5,'MEDICAL':6}

X_train_cat_le['loan_intent'] = X_train_cat['loan_intent'].apply(lambda x : loan_intent_encoder[x])

X_train_cat_le.head()

       person_home_ownership  loan_intent
18046                      1            5
9275                       2            6
5210                       2            2
9775                       2            6
27803                      2            2

In [242]:
X_train_cat.loan_grade.unique()

array(['A', 'D', 'B', 'C', 'E', 'F', 'G'], dtype=object)

In [243]:
loan_grade_encoder = {'A' : 1, 'B' : 2, 'C' : 3, 'D' : 4,'E' : 5,'F':6,'G':7}

X_train_cat_le['loan_grade'] = X_train_cat['loan_grade'].apply(lambda x : loan_grade_encoder[x])

X_train_cat_le.head()

       person_home_ownership  loan_intent  loan_grade
18046                      1            5           1
9275                       2            6           4
5210                       2            2           4
9775                       2            6           1
27803                      2            2           2

In [244]:
# cb_person_default_on_file
X_train_cat.cb_person_default_on_file.unique()

array(['N', 'Y'], dtype=object)

In [245]:
cb_person_default_on_file_encoder = {'N' : 1, 'Y' : 2}

X_train_cat_le['cb_person_default_on_file'] = X_train_cat['cb_person_default_on_file'].apply(lambda x : cb_person_default_on_file_encoder[x])

X_train_cat_le.head()

,person_home_ownership,loan_intent,loan_grade,cb_person_default_on_file
18046,1,5,1,1
9275,2,6,4,1
5210,2,2,4,1
9775,2,6,1,1
27803,2,2,2,1

## Concatinating the Encoded Categorical Features and Rescaled Numerical Features

In [246]:
X_train_transformed = pd.concat([X_train_num_rescaled, X_train_cat_le], axis=1)

X_train_transformed.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,person_home_ownership,loan_intent,loan_grade,cb_person_default_on_file
18046,0.521395,1.921063,0.796203,0.861154,-1.611901,-0.837814,0.539704,1,5,1,1
9275,-0.594706,-0.182430,0.549870,-0.248297,2.095493,-0.183176,-0.445764,2,6,4,1
5210,-0.754149,-0.432366,-0.681796,0.861154,2.024321,2.061294,-0.692131,2,2,4,1
9775,-0.913592,-0.034953,0.057203,-1.199255,-0.547562,-1.305412,-0.445764,2,6,1,1
27803,0.043066,2.464401,1.781536,-0.565283,0.034751,-1.305412,0.293337,2,2,2,1

## Data Preprocessing On Test Data

In [247]:
X_test.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
10775,25,40000,RENT,0.0,EDUCATION,B,10000,12.18,0.25,N,3
28127,30,125000,MORTGAGE,14.0,VENTURE,A,5750,7.43,0.05,N,10
17835,29,70500,RENT,5.0,PERSONAL,A,35000,8.90,0.50,N,6
15419,26,135000,MORTGAGE,11.0,EDUCATION,A,6700,6.03,0.05,N,4
20158,30,34000,RENT,0.0,VENTURE,B,4000,10.95,0.12,N,10

In [248]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9775 entries, 10775 to 27585
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  9775 non-null   int64
 1   person_income               9775 non-null   int64
 2   person_home_ownership       9775 non-null   object
 3   person_emp_length           9775 non-null   float64
 4   loan_intent                 9775 non-null   object
 5   loan_grade                  9775 non-null   object
 6   loan_amnt                   9775 non-null   int64
 7   loan_int_rate               9775 non-null   float64
 8   loan_percent_income         9775 non-null   float64
 9   cb_person_default_on_file   9775 non-null   object
 10  cb_person_cred_hist_length  9775 non-null   int64
dtypes: float64(3), int64(4), object(4)
memory usage: 916.4+ KB

In [249]:
X_test_cat = X_test.select_dtypes(include=['object'])

X_test_cat.head()

      person_home_ownership loan_intent loan_grade cb_person_default_on_file
10775                  RENT   EDUCATION          B                         N
28127              MORTGAGE     VENTURE          A                         N
17835                  RENT    PERSONAL          A                         N
15419              MORTGAGE   EDUCATION          A                         N
20158                  RENT     VENTURE          B                         N

In [250]:
X_test_num = X_test.select_dtypes(include=['int64', 'float64'])

X_test_num.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
10775,25,40000,0.0,10000,12.18,0.25,3
28127,30,125000,14.0,5750,7.43,0.05,10
17835,29,70500,5.0,35000,8.90,0.50,6
15419,26,135000,11.0,6700,6.03,0.05,4
20158,30,34000,0.0,4000,10.95,0.12,10

In [251]:
X_test_num_rescaled = pd.DataFrame(scaler.transform(X_test_num), 
                                   columns = X_test_num.columns, 
                                   index = X_test_num.index)

X_test_num_rescaled.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
10775,-0.435263,-0.407527,-1.174463,0.068689,0.377669,0.752020,-0.692131
28127,0.361952,0.912007,2.274202,-0.604906,-1.158990,-1.118372,1.032438
17835,0.202509,0.065953,0.057203,4.031015,-0.683435,3.090010,0.046970
15419,-0.275820,1.067247,1.535203,-0.454338,-1.611901,-1.118372,-0.445764
20158,0.361952,-0.500671,-1.174463,-0.882269,-0.020245,-0.463735,1.032438

In [252]:
X_test_cat_le = pd.DataFrame(index = X_test_cat.index)

X_test_cat_le.head()

Empty DataFrame
Columns: []
Index: [10775, 28127, 17835, 15419, 20158]

In [253]:
X_test_cat_le['person_home_ownership'] = X_test_cat['person_home_ownership'].apply(lambda x : person_home_ownership_encoder[x])

X_test_cat_le['loan_intent'] = X_test_cat['loan_intent'].apply(lambda x : loan_intent_encoder[x])

X_test_cat_le['loan_grade'] = X_test_cat['loan_grade'].apply(lambda x : loan_grade_encoder[x])

X_test_cat_le['cb_person_default_on_file'] = X_test_cat['cb_person_default_on_file'].apply(lambda x : cb_person_default_on_file_encoder[x])

X_test_cat_le.head()

,person_home_ownership,loan_intent,loan_grade,cb_person_default_on_file
10775,3,5,2,1
28127,2,1,1,1
17835,3,4,1,1
15419,2,5,1,1
20158,3,1,2,1

In [254]:
X_test_transformed = pd.concat([X_test_num_rescaled, X_test_cat_le], axis=1)

X_test_transformed.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,person_home_ownership,loan_intent,loan_grade,cb_person_default_on_file
10775,-0.435263,-0.407527,-1.174463,0.068689,0.377669,0.752020,-0.692131,3,5,2,1
28127,0.361952,0.912007,2.274202,-0.604906,-1.158990,-1.118372,1.032438,2,1,1,1
17835,0.202509,0.065953,0.057203,4.031015,-0.683435,3.090010,0.046970,3,4,1,1
15419,-0.275820,1.067247,1.535203,-0.454338,-1.611901,-1.118372,-0.445764,2,5,1,1
20158,0.361952,-0.500671,-1.174463,-0.882269,-0.020245,-0.463735,1.032438,3,1,2,1

## Applying Machine Learning Algorithms

## KNN Algorithm

In [255]:
from sklearn.neighbors import KNeighborsClassifier  
knn_classifier= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 )  
knn_classifier.fit(X_train_transformed, y_train)

KNeighborsClassifier()

In [256]:
#Predicting the test set result  
y_test_pred = knn_classifier.predict(X_test_transformed)

In [257]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

       Actual  Predicted
10775       0          0
28127       0          0
17835       1          1
15419       0          0
20158       0          0

In [258]:
from sklearn.metrics import accuracy_score
# knn_accuracy = accuracy_score(prediction, labels_test)
knn_accuracy = accuracy_score(y_test_pred, y_test) 
# Number of points classified correctly / all the points in test set

In [259]:
knn_accuracy

0.8856265984654731

## Logistic Regression

In [260]:
from sklearn.linear_model import LogisticRegression  
logistic_classifier= LogisticRegression(random_state=0)  
logistic_classifier.fit(X_train_transformed, y_train)

LogisticRegression(random_state=0)

In [261]:
#Predicting the test set result  
y_test_pred = logistic_classifier.predict(X_test_transformed)

In [262]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

       Actual  Predicted
10775       0          0
28127       0          0
17835       1          0
15419       0          0
20158       0          0

In [263]:
from sklearn.metrics import accuracy_score
# knn_accuracy = accuracy_score(prediction, labels_test)
logistic_accuracy = accuracy_score(y_test_pred, y_test) 
# Number of points classified correctly / all the points in test set

In [264]:
logistic_accuracy

0.8494117647058823

## Support Vector Machines

In [265]:
from sklearn.svm import SVC # "Support vector classifier"  
svm_classifier = SVC(kernel='linear', random_state=0)  
svm_classifier.fit(X_train_transformed, y_train)

SVC(kernel='linear', random_state=0)

In [266]:
#Predicting the test set result  
y_test_pred = svm_classifier.predict(X_test_transformed)

In [267]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

       Actual  Predicted
10775       0          0
28127       0          0
17835       1          0
15419       0          0
20158       0          0

In [268]:
from sklearn.metrics import accuracy_score

svm_accuracy = accuracy_score(y_test_pred, y_test) 
# Number of points classified correctly / all the points in test set

In [269]:
svm_accuracy

0.850537084398977

## Decision Trees

In [270]:
from sklearn.tree import DecisionTreeClassifier  
dt_classifier= DecisionTreeClassifier(criterion='entropy', random_state=0)  
dt_classifier.fit(X_train_transformed, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [271]:
#Predicting the test set result  
y_test_pred = dt_classifier.predict(X_test_transformed)

In [272]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

       Actual  Predicted
10775       0          0
28127       0          0
17835       1          1
15419       0          0
20158       0          0

In [273]:
from sklearn.metrics import accuracy_score

decision_trees_accuracy = accuracy_score(y_test_pred, y_test) 
# Number of points classified correctly / all the points in test set

In [274]:
decision_trees_accuracy

0.8948337595907928

## Random Forests

In [275]:
from sklearn.ensemble import RandomForestClassifier  
rf_classifier= RandomForestClassifier(n_estimators= 10, criterion="entropy")  
rf_classifier.fit(X_train_transformed, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [276]:
#Predicting the test set result  
y_test_pred = rf_classifier.predict(X_test_transformed)

In [277]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

       Actual  Predicted
10775       0          0
28127       0          0
17835       1          1
15419       0          0
20158       0          0

In [278]:
from sklearn.metrics import accuracy_score

rf_accuracy = accuracy_score(y_test_pred, y_test) 
# Number of points classified correctly / all the points in test set

In [279]:
rf_accuracy

0.9217391304347826

In [280]:
print(" KNN Accuracy : ",knn_accuracy)
print(" Logisctic Regression Accuracy : ",logistic_accuracy)
print(" SVM Accuracy : ",svm_accuracy)
print(" Decision Trees Accuracy : ",decision_trees_accuracy)
print(" Random Forests Accuracy : ",rf_accuracy)

 KNN Accuracy :  0.8856265984654731
 Logisctic Regression Accuracy :  0.8494117647058823
 SVM Accuracy :  0.850537084398977
 Decision Trees Accuracy :  0.8948337595907928
 Random Forests Accuracy :  0.9217391304347826

## Random Forests is giving is higher accuracy when compared with other algorithms

## Saving the Model (Serialization)

In [281]:
from pickle import dump

dump(scaler, open('models/standard_scaler.pkl', 'wb'))
dump(person_home_ownership_encoder, open('models/person_home_ownership.pkl', 'wb'))
dump(loan_intent_encoder, open('models/loan_intent.pkl', 'wb'))
dump(loan_grade_encoder, open('models/loan_grade.pkl', 'wb'))
dump(cb_person_default_on_file_encoder, open('models/cb_person_default_on_file.pkl', 'wb'))


dump(knn_classifier, open('models/knn_model.pkl', 'wb'))
dump(logistic_classifier, open('models/lr_model.pkl', 'wb'))
dump(svm_classifier, open('models/sv_model.pkl', 'wb'))
dump(dt_classifier, open('models/dt_model.pkl', 'wb'))
dump(rf_classifier, open('models/rf_model.pkl', 'wb'))